*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.solar-calculator {
    background-color: #f1f1f1;
    padding: 1.5rem;
    border: 1px solid #dee2e6;
}
div {
    position: relative;
}
* {
    font-family: 'Adani-Regular';
}
*, ::after, ::before {
    box-sizing: border-box;
}

div {
    display: block;
}
h1, h2, h3, h4, h5, h6, ul, li, p, header, aside, footer, section, article, nav, field, label, figcaption, figure, hgroup, input, textarea {
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: normal;
}
.calc a{
    text-decoration: none;
    margin: 5px;
    
    
}
.calc button{
    border-radius: 5px;
    margin: 5px;
}
ul{
    list-style: none;
}